body{
    background-color: rgb(239, 239, 239);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(104, 104, 104);
}

h1{
    margin-top: -40px;
}
.container{
    height: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
}

.box{
    width: 300px;
    height: 350px;
    background-color: #ffffff;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    box-shadow: -15px 15px 20px;
    font-size: 20px;
}


ul {
    list-style-type: none;
    width: 175px;
    margin-left: -55px;
  }

li {
    padding:25px;
    background-color: rgb(255, 128, 0);
    border:1px solid rgb(135, 72, 0);
    box-shadow: -5px 5px 15px black;
    width: 140px;
    color:white;
}

li:hover{
    background-color: rgb(255, 155, 54);
}

/*this trio is so that it isnt displayed when unactive, ie when starting page*/
#displayWinner {
    display:none;
}
#displayLoser{
    display:none;
}
#displayTie{
    display:none;
}

p {
    color:#ffffff;
    box-shadow: -5px 5px 15px black;
    background-color: rgb(219, 161, 85);
    padding: 10px;
}

#displayWinCounter, #displayLossCounter, #displayTieCounter {
    display: inline;
    width: 150px;
    margin: 5px;
    text-align: center;
    padding: 20px;
    background-color: rgb(157, 58, 5);
    border:1px solid rgb(135, 72, 0);
    box-shadow: -5px 5px 15px black;
    color: #ffffff;
}

.center {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.returnHome {
    background-color: rgb(255, 128, 0);
    color: white;
    box-shadow: -5px 5px 15px black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    
}